@mixin triangle($dir, $base-width, $length, $color) {
  width: 0;
  height: 0;
  border: ($base-width / 2) solid transparent;

  @if $dir == top {

    border-top: 0;
    border-bottom-width: $length;
    border-bottom-color: $color;

  } @else if $dir == right {

    border-right: 0;
    border-left-width: $length;
    border-left-color: $color;

  } @else if $dir == bottom {

    border-top-width: $length;
    border-bottom: 0;
    border-top-color: $color;

  } @else if $dir == left {

    border-right-width: $length;
    border-left: 0;
    border-right-color: $color;
  }
}
