// Generic glyph placeholder
.glyph {
    display: inline-block;
    width: 1em; height: 1em;
    vertical-align: middle;
    overflow: hidden;

    &:before {
        display: block;
        width: 1em; height: 1em;
        font-family: "winjs-symbols";
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

// List of glyphs with their associated UTF-8 private spaces and original names in WinJS Symbols
$glyphs: (
    chevron-up: (
        unicode:        \e018,
        original-name:  "scrollChevronUpBoldLegacy"
    ),
    chevron-down: (
        unicode:        \e019,
        original-name:  "scrollChevronDownBoldLegacy"
    ),
    checkmark: (
        unicode:        \e081,
        original-name:  "checkmarkListviewLegacy"
    ),
    star: (
        unicode:        \e082,
        original-name:  "ratingStarFillReducedPaddingHTMLLegacy"
    ),
    magnifier: (
        unicode:        \e094,
        original-name:  "searchboxLegacy"
    ),
    semantic-zoom: (
        unicode:        \e0b8,
        original-name:  "semanticZoomLegacy"
    ),
    arrow-left: (
        unicode:        \e0d5,
        original-name:  "arrowHTMLLegacy"
    ),
    arrow-right: (
        unicode:        \e0ae,
        original-name:  "arrowHTMLMirroredLegacy"
    ),
    chevron-left: (
        unicode:        \e0e2,
        original-name:  "chevronFlipLeftLegacy"
    ),
    chevron-right: (
        unicode:        \e0s3,
        original-name:  "chevronFlipRightLegacy"
    ),
    chevron-up-2: (
        unicode:        \e0e4,
        original-name:  "ChevronFlipUpLegacy"
    ),
    chevron-down-2: (
        unicode:        \e0e5,
        original-name:  "chevronFlipDownLegacy"
    ),
    checkmark-2: (
        unicode:        \e0e7,
        original-name:  "checkmarkMenuLegacy"
    ),
    star-outline: (
        unicode:        \e224,
        original-name:  "ratingStarLegacy"
    ),
    chevron-right-2: (
        unicode:        \e26b,
        original-name:  "chevronRightSmLegacy"
    ),
    chevron-left-2: (
        unicode:        \e26c,
        original-name:  "chevronLeftSmLegacy"
    ),
    previous: (
        unicode:        \e100,
        original-name:  "previousLegacy"
    ),
    next: (
        unicode:        \e101,
        original-name:  "nextLegacy"
    ),
    play: (
        unicode:        \e102,
        original-name:  "playLegacy"
    ),
    pause: (
        unicode:        \e103,
        original-name:  "pauseLegacy"
    ),
    edit: (
        unicode:        \e104,
        original-name:  "editLegacy"
    ),
    edit-mirrored: (
        unicode:        \e1c2,
        original-name:  "editLegacyMirrored"
    ),
    save: (
        unicode:        \e105,
        original-name:  "saveLegacy"
    ),
    clear: (
        unicode:        \e106,
        original-name:  "clearLegacy"
    ),
    delete: (
        unicode:        \e107,
        original-name:  "deleteLegacy"
    ),
    remove: (
        unicode:        \e108,
        original-name:  "removeLegacy"
    ),
    add: (
        unicode:        \e109,
        original-name:  "addLegacy"
    ),
    cancel: (
        unicode:        \e10a,
        original-name:  "cancelLegacy"
    ),
    accept: (
        unicode:        \e10b,
        original-name:  "acceptLegacy"
    ),
    more: (
        unicode:        \e10c,
        original-name:  "moreLegacy"
    ),
    redo: (
        unicode:        \e10d,
        original-name:  "redoLegacy"
    ),
    undo: (
        unicode:        \e10e,
        original-name:  "undoLegacy"
    ),
    home: (
        unicode:        \e10f,
        original-name:  "homeLegacy"
    ),
    up: (
        unicode:        \e110,
        original-name:  "upLegacy"
    ),
    forward: (
        unicode:        \e111,
        original-name:  "forwardLegacy"
    ),
    back: (
        unicode:        \e112,
        original-name:  "backLegacy"
    ),
    favorite: (
        unicode:        \e113,
        original-name:  "favoriteLegacy"
    ),
    camera: (
        unicode:        \e114,
        original-name:  "cameraLegacy"
    ),
    settings: (
        unicode:        \e115,
        original-name:  "settingsLegacy"
    ),
    video: (
        unicode:        \e116,
        original-name:  "videoLegacy"
    ),
    sync: (
        unicode:        \e117,
        original-name:  "syncLegacy"
    ),
    download: (
        unicode:        \e118,
        original-name:  "downloadLegacy"
    ),
    mail: (
        unicode:        \e119,
        original-name:  "mailLegacy"
    ),
    magnifier-2: (
        unicode:        \e11a,
        original-name:  "findLegacy"
    ),
    help: (
        unicode:        \e11b,
        original-name:  "helpLegacy"
    ),
    help-mirrored: (
        unicode:        \e1f3,
        original-name:  "helpLegacyMirrored"
    ),
    upload: (
        unicode:        \e11c,
        original-name:  "uploadLegacy"
    ),
    emoji: (
        unicode:        \e11d,
        original-name:  "emojiLegacy"
    ),
    two-page: (
        unicode:        \e11e,
        original-name:  "twoPageLegacy"
    ),
    leave-chat: (
        unicode:        \e11f,
        original-name:  "leaveChatLegacy"
    ),
    mail-forward: (
        unicode:        \e120,
        original-name:  "mailForwardLegacy"
    ),
    clock: (
        unicode:        \e121,
        original-name:  "clockLegacy"
    ),
    send: (
        unicode:        \e122,
        original-name:  "sendLegacy"
    ),
    crop: (
        unicode:        \e123,
        original-name:  "cropLegacy"
    ),
    rotate-camera: (
        unicode:        \e124,
        original-name:  "rotateCameraLegacy"
    ),
    people: (
        unicode:        \e125,
        original-name:  "peopleLegacy"
    ),
    close-pane: (
        unicode:        \e126,
        original-name:  "closePaneLegacy"
    ),
    close-pane-mirrored: (
        unicode:        \e1bf,
        original-name:  "closePaneLegacyMirrored"
    ),
    open-pane: (
        unicode:        \e127,
        original-name:  "openPaneLegacy"
    ),
    open-pane-mirrored: (
        unicode:        \e1c0,
        original-name:  "openPaneLegacyMirrored"
    ),
    world: (
        unicode:        \e128,
        original-name:  "worldLegacy"
    ),
    flag: (
        unicode:        \e129,
        original-name:  "flagLegacy"
    ),
    preview-link: (
        unicode:        \e12a,
        original-name:  "previewLinkLegacy"
    ),
    globe: (
        unicode:        \e12b,
        original-name:  "globeLegacy"
    ),
    trim: (
        unicode:        \e12c,
        original-name:  "trimLegacy"
    ),
    attach-camera: (
        unicode:        \e12d,
        original-name:  "attachCameraLegacy"
    ),
    zoom-in: (
        unicode:        \e12e,
        original-name:  "zoomInLegacy"
    ),
    bookmarks: (
        unicode:        \e12f,
        original-name:  "bookmarksLegacy"
    ),
    bookmarks-mirrored: (
        unicode:        \e1ee,
        original-name:  "bookmarksLegacyMirrored"
    ),
    document: (
        unicode:        \e130,
        original-name:  "documentLegacy"
    ),
    protected-document: (
        unicode:        \e131,
        original-name:  "protecteddocumentLegacy"
    ),
    page: (
        unicode:        \e132,
        original-name:  "pageFillLegacy"
    ),
    multi-select: (
        unicode:        \e133,
        original-name:  "multiSelectLegacy"
    ),
    multi-select-mirrored: (
        unicode:        \e1ef,
        original-name:  "multiSelectLegacyMirrored"
    ),
    comment: (
        unicode:        \e134,
        original-name:  "commentLegacy"
    ),
    mail-2: (
        unicode:        \e135,
        original-name:  "mailFillLegacy"
    ),
    contact-info: (
        unicode:        \e136,
        original-name:  "contactInfoLegacy"
    ),
    contact-info-mirrored: (
        unicode:        \ea4a,
        original-name:  "contactInfoLegacyMirrored"
    ),
    hang-up: (
        unicode:        \e137,
        original-name:  "hangUpLegacy"
    ),
    view-all: (
        unicode:        \e138,
        original-name:  "viewAllLegacy"
    ),
    map-pin: (
        unicode:        \e139,
        original-name:  "mapPinLegacy"
    ),
    phone: (
        unicode:        \e13a,
        original-name:  "phoneLegacy"
    ),
    video-chat: (
        unicode:        \e13b,
        original-name:  "videoChatLegacy"
    ),
    switch: (
        unicode:        \e13c,
        original-name:  "switchLegacy"
    ),
    contact: (
        unicode:        \e13d,
        original-name:  "contactLegacy"
    ),
    rename: (
        unicode:        \e13e,
        original-name:  "renameLegacy"
    ),
    pin: (
        unicode:        \e141,
        original-name:  "pinLegacy"
    ),
    music-info: (
        unicode:        \e142,
        original-name:  "musicInfoLegacy"
    ),
    go: (
        unicode:        \e143,
        original-name:  "goLegacy"
    ),
    go-mirrored: (
        unicode:        \e1aa,
        original-name:  "goLegacyMirrored"
    ),
    keyboard: (
        unicode:        \e144,
        original-name:  "keyBoardLegacy"
    ),
    dock-left: (
        unicode:        \e145,
        original-name:  "dockLeftLegacy"
    ),
    dock-left-mirrored: (
        unicode:        \e1ab,
        original-name:  "dockLeftLegacyMirrored"
    ),
    dock-right: (
        unicode:        \e146,
        original-name:  "dockRightLegacy"
    ),
    dock-right-mirrored: (
        unicode:        \e1ac,
        original-name:  "dockRightLegacyMIrrored"
    ),
    dock-bottom: (
        unicode:        \e147,
        original-name:  "dockBottomLegacy"
    ),
    remote: (
        unicode:        \e148,
        original-name:  "remoteLegacy"
    ),
    refresh: (
        unicode:        \e149,
        original-name:  "refreshLegacy"
    ),
    rotate: (
        unicode:        \e14a,
        original-name:  "rotateLegacy"
    ),
    shuffle: (
        unicode:        \e14b,
        original-name:  "shuffleLegacy"
    ),
    list: (
        unicode:        \e14c,
        original-name:  "listLegacy"
    ),
    list-mirrored: (
        unicode:        \e175,
        original-name:  "listLegacyMirrored"
    ),
    shop: (
        unicode:        \e14d,
        original-name:  "shopLegacy"
    ),
    select-all: (
        unicode:        \e14e,
        original-name:  "selectAllLegacy"
    ),
    orientation: (
        unicode:        \e14f,
        original-name:  "orientationLegacy"
    ),
    import: (
        unicode:        \e150,
        original-name:  "importLegacy"
    ),
    import-mirrored: (
        unicode:        \e1ad,
        original-name:  "importLegacyMirrored"
    ),
    import-all: (
        unicode:        \e151,
        original-name:  "importAllLegacy"
    ),
    import-all-mirrored: (
        unicode:        \e1ae,
        original-name:  "importAllLegacyMirrored"
    ),
    browse-photos: (
        unicode:        \e155,
        original-name:  "browsePhotosLegacy"
    ),
    webcam: (
        unicode:        \e156,
        original-name:  "webcamLegacy"
    ),
    picture: (
        unicode:        \e158,
        original-name:  "pictureLegacy"
    ),
    save-local: (
        unicode:        \e159,
        original-name:  "saveLocalLegacy"
    ),
    caption: (
        unicode:        \e15a,
        original-name:  "captionLegacy"
    ),
    stop: (
        unicode:        \e15b,
        original-name:  "stopLegacy"
    ),
    show-results: (
        unicode:        \e15c,
        original-name:  "showResultsLegacy"
    ),
    show-results-mirrored: (
        unicode:        \e1f1,
        original-name:  "showResultsLegacyMirrored"
    ),
    volume: (
        unicode:        \e15d,
        original-name:  "volumeLegacy"
    ),
    repair: (
        unicode:        \e15e,
        original-name:  "repairLegacy"
    ),
    message: (
        unicode:        \e15f,
        original-name:  "messageLegacy"
    ),
    page-outline: (
        unicode:        \e160,
        original-name:  "pageLegacy"
    ),
    calendar-day: (
        unicode:        \e161,
        original-name:  "calendarDayLegacy"
    ),
    calendar-week: (
        unicode:        \e162,
        original-name:  "calendarWeekLegacy"
    ),
    calendar: (
        unicode:        \e163,
        original-name:  "calendarLegacy"
    ),
    calendar-mirrored: (
        unicode:        \e1dc,
        original-name:  "calendarLegacyMirrored"
    ),
    characters: (
        unicode:        \e164,
        original-name:  "charactersLegacy"
    ),
    mail-reply-all: (
        unicode:        \e165,
        original-name:  "mailReplyAllLegacy"
    ),
    mail-reply-all-mirrored: (
        unicode:        \e1f2,
        original-name:  "mailReplyAllLegacyMirrored"
    ),
    mail-read: (
        unicode:        \e166,
        original-name:  "readLegacy"
    ),
    link: (
        unicode:        \e167,
        original-name:  "linkLegacy"
    ),
    accounts: (
        unicode:        \e168,
        original-name:  "accountsLegacy"
    ),
    show-bcc: (
        unicode:        \e169,
        original-name:  "showBccLegacy"
    ),
    hide-bcc: (
        unicode:        \e16a,
        original-name:  "hideBccLegacy"
    ),
    cut: (
        unicode:        \e16b,
        original-name:  "cutLegacy"
    ),
    attach: (
        unicode:        \e16c,
        original-name:  "attachLegacy"
    ),
    paste: (
        unicode:        \e16d,
        original-name:  "pasteLegacy"
    ),
    filter: (
        unicode:        \e16e,
        original-name:  "filterLegacy"
    ),
    copy: (
        unicode:        \e16f,
        original-name:  "copyLegacy"
    ),
    emoji-2: (
        unicode:        \e170,
        original-name:  "emoji2Legacy"
    ),
    important: (
        unicode:        \e171,
        original-name:  "importantLegacy"
    ),
    mail-reply: (
        unicode:        \e172,
        original-name:  "mailReplyLegacy"
    ),
    mail-reply-mirrored: (
        unicode:        \e1af,
        original-name:  "mailReplyLegacyMirrored"
    ),
    slideshow: (
        unicode:        \e173,
        original-name:  "slideshowLegacy"
    ),
    sort: (
        unicode:        \e174,
        original-name:  "sortLegacy"
    ),
    manage: (
        unicode:        \e178,
        original-name:  "manageLegacy"
    ),
    all-apps: (
        unicode:        \e179,
        original-name:  "allAppsLegacy"
    ),
    all-apps-mirrored: (
        unicode:        \e1ec,
        original-name:  "allAppsLegacyMirrored"
    ),
    disconnect-drive: (
        unicode:        \e17a,
        original-name:  "disconnectDriveLegacy"
    ),
    map-drive: (
        unicode:        \e17b,
        original-name:  "mapDriveLegacy"
    ),
    new-window: (
        unicode:        \e17c,
        original-name:  "newWindowLegacy"
    ),
    open-with: (
        unicode:        \e17d,
        original-name:  "openWithLegacy"
    ),
    open-with-mirrored: (
        unicode:        \e1ed,
        original-name:  "openWithLegacyMirrored"
    ),
    contact-presence: (
        unicode:        \e181,
        original-name:  "contactPresenceLegacy"
    ),
    priority: (
        unicode:        \e182,
        original-name:  "priorityLegacy"
    ),
    upload-2: (
        unicode:        \e183,
        original-name:  "uploadSkyDriveLegacy"
    ),
    go-to-today: (
        unicode:        \e184,
        original-name:  "gotoTodayLegacy"
    ),
    font: (
        unicode:        \e185,
        original-name:  "fontLegacy"
    ),
    font-color: (
        unicode:        \e186,
        original-name:  "fontColorLegacy"
    ),
    contact-2: (
        unicode:        \e187,
        original-name:  "contact2Legacy"
    ),
    folder-fill: (
        unicode:        \e188,
        original-name:  "folderLegacy"
    ),
    audio: (
        unicode:        \e189,
        original-name:  "audioLegacy"
    ),
    placeholder: (
        unicode:        \e18a,
        original-name:  "placeholderLegacy"
    ),
    view: (
        unicode:        \e18b,
        original-name:  "viewLegacy"
    ),
    set-lockscreen: (
        unicode:        \e18c,
        original-name:  "setlockScreenLegacy"
    ),
    set-tile: (
        unicode:        \e18d,
        original-name:  "setTileLegacy"
    ),
    cc: (
        unicode:        \e190,
        original-name:  "ccLegacy"
    ),
    stop-slideshow: (
        unicode:        \e191,
        original-name:  "stopSlideshowLegacy"
    ),
    permissions: (
        unicode:        \e192,
        original-name:  "permissionsLegacy"
    ),
    highlight: (
        unicode:        \e193,
        original-name:  "highlightLegacy"
    ),
    disable-updates: (
        unicode:        \e194,
        original-name:  "disableUpdatesLegacy"
    ),
    unfavorite: (
        unicode:        \e195,
        original-name:  "unfavoriteLegacy"
    ),
    unpin: (
        unicode:        \e196,
        original-name:  "unpinLegacy"
    ),
    open-local: (
        unicode:        \e197,
        original-name:  "openLocalLegacy"
    ),
    mute: (
        unicode:        \e198,
        original-name:  "muteLegacy"
    ),
    italic: (
        unicode:        \e199,
        original-name:  "italicLegacy"
    ),
    underline: (
        unicode:        \e19a,
        original-name:  "underlineLegacy"
    ),
    bold: (
        unicode:        \e19b,
        original-name:  "boldLegacy"
    ),
    move-to-folder: (
        unicode:        \e19c,
        original-name:  "moveToFolderLegacy"
    ),
    like-dislike: (
        unicode:        \e19d,
        original-name:  "likeDislikeLegacy"
    ),
    dislike: (
        unicode:        \e19e,
        original-name:  "dislikeLegacy"
    ),
    like: (
        unicode:        \e19f,
        original-name:  "likeLegacy"
    ),
    align-right: (
        unicode:        \e1a0,
        original-name:  "alignRightLegacy"
    ),
    align-center: (
        unicode:        \e1a1,
        original-name:  "alignCenterLegacy"
    ),
    align-left: (
        unicode:        \e1a2,
        original-name:  "alignLeftLegacy"
    ),
    magnifier-3: (
        unicode:        \e1a3,
        original-name:  "zoomLegacy"
    ),
    zoom-out: (
        unicode:        \e1a4,
        original-name:  "zoomOutLegacy"
    ),
    open-file: (
        unicode:        \e1a5,
        original-name:  "openFileLegacy"
    ),
    other-user: (
        unicode:        \e1a6,
        original-name:  "otherUserLegacy"
    ),
    admin: (
        unicode:        \e1a7,
        original-name:  "adminLegacy"
    ),
    street: (
        unicode:        \e1c3,
        original-name:  "streetLegacy"
    ),
    map: (
        unicode:        \e1c4,
        original-name:  "mapLegacy"
    ),
    clear-selection: (
        unicode:        \e1c5,
        original-name:  "clearSelectionLegacy"
    ),
    clear-selection-mirrored: (
        unicode:        \e1f4,
        original-name:  "clearSelectionLegacyMirrored"
    ),
    font-decrease: (
        unicode:        \e1c6,
        original-name:  "fontDecreaseLegacy"
    ),
    font-increase: (
        unicode:        \e1c7,
        original-name:  "fontIncreaseLegacy"
    ),
    font-size: (
        unicode:        \e1c8,
        original-name:  "fontSizeLegacy"
    ),
    cellphone: (
        unicode:        \e1c9,
        original-name:  "cellPhoneLegacy"
    ),
    reshare: (
        unicode:        \e1ca,
        original-name:  "reshareLegacy"
    ),
    tag: (
        unicode:        \e1cb,
        original-name:  "tagLegacy"
    ),
    repeat-once: (
        unicode:        \e1cc,
        original-name:  "repeatOneLegacy"
    ),
    repeat-all: (
        unicode:        \e1cd,
        original-name:  "repeatAllLegacy"
    ),
    star-outline-2: (
        unicode:        \e1ce,
        original-name:  "outlineStarLegacy"
    ),
    star-2: (
        unicode:        \e1cf,
        original-name:  "solidStarLegacy"
    ),
    calculator: (
        unicode:        \e1d0,
        original-name:  "calculatorLegacy"
    ),
    directions: (
        unicode:        \e1d1,
        original-name:  "directionsLegacy"
    ),
    location: (
        unicode:        \e1d2,
        original-name:  "locationLegacy"
    ),
    library: (
        unicode:        \e1d3,
        original-name:  "libraryLegacy"
    ),
    phonebook: (
        unicode:        \e1d4,
        original-name:  "phoneBookLegacy"
    ),
    memo: (
        unicode:        \e1d5,
        original-name:  "memoLegacy"
    ),
    microphone: (
        unicode:        \e1d6,
        original-name:  "microphoneLegacy"
    ),
    post-update: (
        unicode:        \e1d7,
        original-name:  "postUpdateLegacy"
    ),
    back-to-window: (
        unicode:        \e1d8,
        original-name:  "backToWindowLegacy"
    ),
    fullscreen: (
        unicode:        \e1d9,
        original-name:  "fullScreenLegacy"
    ),
    new-folder: (
        unicode:        \e1da,
        original-name:  "newFolderLegacy"
    ),
    calendar-reply: (
        unicode:        \e1db,
        original-name:  "calendarReplyLegacy"
    ),
    unsync-folder: (
        unicode:        \e1dd,
        original-name:  "unsyncFolderLegacy"
    ),
    report-hacked: (
        unicode:        \e1de,
        original-name:  "reportHackedLegacy"
    ),
    sync-folder: (
        unicode:        \e1df,
        original-name:  "syncFolderLegacy"
    ),
    block-contact: (
        unicode:        \e1e0,
        original-name:  "blockContactLegacy"
    ),
    switch-apps: (
        unicode:        \e1e1,
        original-name:  "switchAppsLegacy"
    ),
    add-friend: (
        unicode:        \e1e2,
        original-name:  "addFriendLegacy"
    ),
    touch-pointer: (
        unicode:        \e1e3,
        original-name:  "touchPointerLegacy"
    ),
    go-to-start: (
        unicode:        \e1e4,
        original-name:  "goToStartLegacy"
    ),
    zero-bar: (
        unicode:        \e1e5,
        original-name:  "zeroBarsLegacy"
    ),
    one-bar: (
        unicode:        \e1e6,
        original-name:  "oneBarLegacy"
    ),
    two-bars: (
        unicode:        \e1e7,
        original-name:  "twoBarsLegacy"
    ),
    three-bars: (
        unicode:        \e1e8,
        original-name:  "threeBarsLegacy"
    ),
    four-bars: (
        unicode:        \e1e9,
        original-name:  "fourBarsLegacy"
    ),
    scan: (
        unicode:        \e294,
        original-name:  "scanLegacy"
    ),
    preview: (
        unicode:        \e295,
        original-name:  "previewLegacy"
    ),
    hamburger: (
        unicode:        \e700,
        original-name:  "globalNavButton"
    ),
    checkbox-composite: (
        unicode:        \e73a,
        original-name:  "checkboxComposite"
    ),
    checkbox-indeterminate: (
        unicode:        \e73c,
        original-name:  "checkboxIndeterminate"
    ),
    erase-tool: (
        unicode:        \e75c,
        original-name:  "eraseTool"
    ),
    warning: (
        unicode:        \e7ba,
        original-name:  "warning"
    ),
    shopping-cart: (
        unicode:        \e7bf,
        original-name:  "shoppingCart"
    ),
    flag-2: (
        unicode:        \e7c1,
        original-name:  "flag2"
    ),
    folder-open: (
        unicode:        \e838,
        original-name:  "folderOpen"
    ),
    folder: (
        unicode:        \e8b7,
        original-name:  "folder"
    ),
    completed: (
        unicode:        \e930,
        original-name:  "completed"
    ),
    music-album: (
        unicode:        \e93c,
        original-name:  "musicAlbum"
    ),
    info: (
        unicode:        \e946,
        original-name:  "info"
    ),
    devices: (
        unicode:        \ea6c,
        original-name:  "devices3"
    ),
    expand: (
        unicode:        \ecc8,
        original-name:  "expand"
    ),
    collapse: (
        unicode:        \ecc9,
        original-name:  "collapse"
    ),
    radio-btn-off: (
        unicode:        \ecca,
        original-name:  "radioBtnOff"
    ),
    radio-btn-on: (
        unicode:        \eccb,
        original-name:  "radioBtnOn"
    ),
    radio-bullet: (
        unicode:        \eccc,
        original-name:  "radioBullet2"
    ),
    media-browse: (
        unicode:        \eccd,
        original-name:  "mediaBrowse"
    ),
    miracast-small: (
        unicode:        \ec15,
        original-name:  "miracastLogoSmall"
    ),
    miracast-large: (
        unicode:        \ec16,
        original-name:  "miracastLogoLarge"
    ),
    playback-rate-1x: (
        unicode:        \ec57,
        original-name:  "playbackRate1x"
    ),
    playback-rate-other: (
        unicode:        \ec58,
        original-name:  "playbackRateOther"
    ),
    subscription-add: (
        unicode:        \ed0e,
        original-name:  "subscriptionAdd"
    ),
    subscription-add-mirrored: (
        unicode:        \ed0e,
        original-name:  "subscriptionAddMirrored"
    ),
    subscriptions: (
        unicode:        \ed11,
        original-name:  "subscriptions"
    ),
    subscriptions-mirrored: (
        unicode:        \ed12,
        original-name:  "subscriptionsMirrored"
    ),
    folder-horizontal-open: (
        unicode:        \ed25,
        original-name:  "openFolderHorizontal"
    ),
    folder-horizontal: (
        unicode:        \f12b,
        original-name:  "folderHorizontal"
    )
);

// Generate glyph-* classes
@each $glyph, $values in $glyphs {
    .glyph-#{$glyph}::before {
        content: "#{map-get($values, unicode)}";
    }
}


// Checkbox & Radio Buttons
.checkbox label {
    input:indeterminate ~ span::before {
        content: \25A0; // Use "\E73C" when we get MDL Symbols font
    }
}

.radio label {
    input:checked ~ span::before {
        content: \25cf; // Replace this when we get MDL Symbols font
    }
}
